'''
Assignment #5
1. Add / modify code ONLY between the marked areas (i.e. "Place code below") 
2. Run the associated test harness for a basic check on completeness. A successful run of the test cases does not guarantee accuracy or fulfillment of the requirements. Please do not submit your work if test cases fail.
3. To run unit tests simply use the below command after filling in all of the code:
    python 05_assignment.py
  
4. Unless explicitly stated, please do not import any additional libraries but feel free to use built-in Python packages
5. Submissions must be a Python file and not a notebook file (i.e *.ipynb)
6. Do not use global variables
'''

In [234]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
import unittest
import requests
import json

In [237]:
def exercise01():
    df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=['a', 'b', 'c', 'd'])  
    return df

In [238]:
exercise01()

    a   b   c   d
0  51   6  69  54
1  95  52  70  78
2  60  55  24  29

In [239]:
def exercise02(a):
    array = np.array(a)    
    return array

In [240]:
mets = ['Alonso', 'Guillorme', 'Lindor', 'Escobar', 'Canha', 'Nimmo', 'Marte', 'Alvarez']
exercise02(mets)

array(['Alonso', 'Guillorme', 'Lindor', 'Escobar', 'Canha', 'Nimmo',
       'Marte', 'Alvarez'], dtype='<U9')

In [241]:
def exercise03(a):
    sum = np.sum(a)
    return sum

In [242]:
randnums= np.random.randint(1,101,5)
exercise03(randnums)

290

In [243]:
def exercise04(a):
    sum = np.sum(a[1])
    return sum

In [244]:
x = np.array([[1, 2, 3], [4, 5, 6]])
exercise04(x)

15

In [245]:
def exercise05(n):
    zeros =  np.zeros((n, n))    
    return zeros

In [246]:
exercise05(5)

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [247]:
def exercise06(n):
    ones =  np.ones((n, n))    
    return ones

In [248]:
exercise06(5)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [249]:
def exercise07(sd,m,s):
    random_numbers = np.random.normal(loc=sd, scale=m, size=s)
    return random_numbers

In [250]:
exercise07(5, 5, 5)

array([14.51769859,  0.26848539, -6.86574997, -1.93308694,  7.82197101])

In [251]:
def exercise08():
    df = pd.read_csv("https://tinyurl.com/y63q7okz")
    row_count = len(df.index)
    avg_sq_ft = df['sq__ft'].mean() 
    df_zip_95670 = df.loc[df['zip'] == 95670]
    df_zip_not_95610 = df.loc[df['zip'] != 95610]
    return row_count, avg_sq_ft, df_zip_95670, df_zip_not_95610

In [252]:
exercise08()

(985,
 1314.9167512690356,
                                street            city    zip state  beds  \
 8     11150 TRINITY RIVER DR Unit 114  RANCHO CORDOVA  95670    CA     2
 81                 10245 LOS PALOS DR  RANCHO CORDOVA  95670    CA     3
 116          2010 PROMONTORY POINT LN      GOLD RIVER  95670    CA     2
 178              10542 SILVERWOOD WAY  RANCHO CORDOVA  95670    CA     3
 211                 2460 EL ROCCO WAY  RANCHO CORDOVA  95670    CA     3
 217                 2219 EL CANTO CIR  RANCHO CORDOVA  95670    CA     4
 279  11281 STANFORD COURT LN Unit 604      GOLD RIVER  95670    CA     0
 284          2015 PROMONTORY POINT LN      GOLD RIVER  95670    CA     3
 293                 3512 RAINSONG CIR  RANCHO CORDOVA  95670    CA     4
 451                10949 SCOTSMAN WAY  RANCHO CORDOVA  95670    CA     5
 489                   10629 BASIE WAY  RANCHO CORDOVA  95670    CA     4
 493                    3253 ABOTO WAY  RANCHO CORDOVA  95670    CA     4
 546              2049 EMPIRE MINE CIR      GOLD RIVER  95670    CA     4
 621                   2426 RASHAWN DR  RANCHO CORDOVA  95670    CA     2
 625                   2361 LA LOMA DR  RANCHO CORDOVA  95670    CA     3
 668                 2421 BERRYWOOD DR  RANCHO CORDOVA  95670    CA     3
 684                    2909 SHAWN WAY  RANCHO CORDOVA  95670    CA     3
 726                    2319 THORES ST  RANCHO CORDOVA  95670    CA     3
 732                11130 EEL RIVER CT  RANCHO CORDOVA  95670    CA     2
 802                   3349 CORVINA DR  RANCHO CORDOVA  95670    CA     4
 900                  2636 TRONERO WAY  RANCHO CORDOVA  95670    CA     3

      baths  sq__ft          type                     sale_date   price  \
 8        2     941         Condo  Wed May 21 00:00:00 EDT 2008   94905
 81       2    1287   Residential  Wed May 21 00:00:00 EDT 2008  234697
 116      2    1520   Residential  Wed May 21 00:00:00 EDT 2008  299000
 178      1    1098   Residential  Tue May 20 00:00:00 EDT 2008  120108
 211      2    1671   Residential  Tue May 20 00:00:00 EDT 2008  175000
 217      2    1829   Residential  Tue May 20 00:00:00 EDT 2008  184500
 279      0       0         Condo  Tue May 20 00:00:00 EDT 2008  300000
 284      2    1981   Residential  Tue May 20 00:00:00 EDT 2008  305000
 293      3    2208   Residential  Tue May 20 00:00:00 EDT 2008  336000
 451      4    2382  Multi-Family  Mon May 19 00:00:00 EDT 2008  236000
 489      2    1524   Residential  Mon May 19 00:00:00 EDT 2008  296056
 493      3    1851   Residential  Mon May 19 00:00:00 EDT 2008  305000
 546      2    3037   Residential  Mon May 19 00:00:00 EDT 2008  528000
 621      1     911   Residential  Fri May 16 00:00:00 EDT 2008  115000
 625      2    1115   Residential  Fri May 16 00:00:00 EDT 2008  116000
 668      2    1157   Residential  Fri May 16 00:00:00 EDT 2008  180000
 684      2    1452   Residential  Fri May 16 00:00:00 EDT 2008  193000
 726      2    1074   Residential  Fri May 16 00:00:00 EDT 2008  233000
 732      2    1406   Residential  Fri May 16 00:00:00 EDT 2008  242000
 802      3    2109   Residential  Fri May 16 00:00:00 EDT 2008  330000
 900      1    1000   Residential  Thu May 15 00:00:00 EDT 2008  134000

       latitude   longitude
 8    38.621188 -121.270555
 81   38.593699 -121.310890
 116  38.628690 -121.261669
 178  38.587156 -121.295778
 211  38.591477 -121.315340
 217  38.592383 -121.318669
 279  38.625289 -121.260286
 284  38.628732 -121.261149
 293  38.573488 -121.282809
 451  38.603686 -121.277844
 489  38.579000 -121.292627
 493  38.577270 -121.285591
 546  38.629299 -121.249021
 621  38.610852 -121.273278
 625  38.593680 -121.316054
 668  38.608680 -121.278490
 684  38.589925 -121.299059
 726  38.596750 -121.312716
 732  38.625932 -121.271517
 802  38.580545 -121.279016
 900  38.593049 -121.303040  ,
                   street             city    zip state  beds  baths  sq__ft  \
 0           3526 HIGH ST       SACRAMENTO  95838    CA     2      1     836
 1            51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167
 2         2796 BRANCH ST       SACRAMENTO  95815    CA     2      1     796
 3       2805 JANETTE WAY       SACRAMENTO  95815    CA     2      1     852
 4        6001 MCMAHON DR       SACRAMENTO  95824    CA     2      1     797
 ..                   ...              ...    ...   ...   ...    ...     ...
 979     1909 YARNELL WAY        ELK GROVE  95758    CA     3      2    1262
 980   9169 GARLINGTON CT       SACRAMENTO  95829    CA     4      3    2280
 981      6932 RUSKUT WAY       SACRAMENTO  95823    CA     3      2    1477
 983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
 984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

             type                     sale_date   price   latitude   longitude
 0    Residential  Wed May 21 00:00:00 EDT 2008   59222  38.631913 -121.434879
 1    Residential  Wed May 21 00:00:00 EDT 2008   68212  38.478902 -121.431028
 2    Residential  Wed May 21 00:00:00 EDT 2008   68880  38.618305 -121.443839
 3    Residential  Wed May 21 00:00:00 EDT 2008   69307  38.616835 -121.439146
 4    Residential  Wed May 21 00:00:00 EDT 2008   81900  38.519470 -121.435768
 ..           ...                           ...     ...        ...         ...
 979  Residential  Thu May 15 00:00:00 EDT 2008  230000  38.417382 -121.484325
 980  Residential  Thu May 15 00:00:00 EDT 2008  232425  38.457679 -121.359620
 981  Residential  Thu May 15 00:00:00 EDT 2008  234000  38.499893 -121.458890
 983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
 984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

 [978 rows x 12 columns])

In [254]:
def exercise10(n):
    identity_matrix = np.identity(n=n)    
    return identity_matrix

In [255]:
exercise10(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

     '''
    Using NumPy, create a single dimension array, array_1d, of size n containing integers 0 to n-1
    Reshape the array. The reshaped array, array_reshaped, should be n/3 columns and 3 rows
    '''

In [266]:
def exercise11(n):
    array_1d = np.array(range(0,n))
    array_reshaped = np.reshape(array_1d, (3, int(n/3))) 
    return array_1d, array_reshaped

In [267]:
exercise11(4)

ValueError: cannot reshape array of size 4 into shape (3,1)

In [274]:
def exercise12(n):
    checkerboard_matrix = np.array([[(i+j)%2 for i in range(1,2*n+1)] for j in range(2*n)])
    return checkerboard_matrix

In [275]:
exercise12(3)

array([[1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]])

In [276]:
def exercise13(n):
    '''
    Create a pandas Series, s, with n random integers between 0 and n, for n days starting from 1/1/2010 and plot the
    cumulative sum on a  chart. The data range should be an index. pd.date_range() may help. 
    
    '''
    s = pd.Series(range(0,n) , index =  pd.date_range(start = 1/1/2010, end = 12/1/2010, periods = n)
    
    return s

SyntaxError: invalid syntax (<ipython-input-276-f7a5a1c1e4c3>, line 9)

In [216]:
exercise13(3)

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [286]:
exercise14(n):
    df = pd.DataFrame (words, columns = ['column_name'])
    return df

SyntaxError: invalid syntax (<ipython-input-286-7b4e77d2df6f>, line 1)

In [277]:
df = pd.read_csv("https://tinyurl.com/y63q7okz")
def exercise15():
    '''
    Use the real estate transaction DataFrame from Exercise 8 and extract into a new DataFrame every 5th row using iloc 
    and just the street address and zip code columns. This can be done with one line of code.
    '''
    df = df.iloc[::5, :]
    return df

In [278]:
exercise15()

UnboundLocalError: local variable 'df' referenced before assignment